
/* SVG should be hidden initially so a smooth appearance occurs when scrolled into view */
.svg {
    visibility: hidden;
}

/* This class will be added to the svg element when scrolled into view */
.svg-animate {
	stroke-width:1;
	animation: animateSvg 3s ;
    stroke:black !important;
    stroke-dasharray:100%;
    stroke-dashoffset:0;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/* Keyframe that  will animate svg elements  */
@keyframes animateSvg {
	0%   {
		fill: rgba(0, 32, 41, 0); stroke: #002029;
		stroke-dashoffset: 100%;  stroke-width: 2;
	}
	70%  {fill: rgba(0, 32, 41, 0); stroke: #002029; }
	80%  {fill: rgba(0, 32, 41, 0); stroke: #002029;  }
	100% {
		 fill : rgba(0, 32, 41, 1); stroke: #002029; 
		stroke-dashoffset: 0%;  ;
	}
} 


